@*@if (ViewBag.UserIsAdmin == true)
{

}
else
{
    <div style="text-align: center; padding: 5rem;">
        <h1 style="font-size: 5rem; color: #e74c3c;">404</h1>
        <h2 style="color: #555;">Yetkisiz Erişim</h2>
        <p>Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
        <a href="/" class="btn btn-primary" style="margin-top: 2rem;">
            Ana Sayfaya Dön
        </a>
    </div>
}


@model CafeManagementSystem.Business.Operations.Cafe.Dtos.CafeDto @using CafeManagementSystem.Business.Operations.Product.Dtos @{ var products = ViewBag.Products as List; var reviews = ViewBag.Reviews as List; }
@Model.Name

@Model.Location
@foreach (var product in products)
{

    @product.ProductName-@product.Price ₺

                                                     Sipariş Ver

}
Yorumlar
@if (reviews != null && reviews.Any())
{
    @foreach (var review in reviews)
    {

        @review.UserFullName @review.CreatedDate.ToString("dd.MM.yyyy HH:mm")

        @for (int i = 1; i <= 5; i++)
        {@(i <= review.Rating ? "★" : "☆")}

        @review.Comment

    }
}
else
{
    Bu kafeye henüz yorum yapılmamış.
}*@